.agents
.codex
.idea
.vscode
.DS_Store

*.log
*.tmp
*.bak
*.swp
*.swo

.env

vim/.vim/backup/*.*
!vim/.vim/backup/.gitkeep

vim/.vim/undo/*.*
!vim/.vim/undo/.gitkeep

vim/.vim/swap/*.*
!vim/.vim/swap/.gitkeep

vim/.vim/.netrwhist
