[Unit]
Description=Weekly backup on Saturday at 20:00

[Timer]
OnCalendar=Sat *-*-* 20:00:00
Persistent=true
AccuracySec=1s

[Install]
WantedBy=timers.target
