#waybar {
  background-color: #232634;
  border: 2px solid #414559;
  border-radius: 10px;
  font-family: MonoLisa, monospace;
  font-size: 14px;
  font-weight: 400;
}

/* Layout */
.modules-left,
.modules-center,
.modules-right {
  padding-left: 0px;
  padding-right: 0px;
}

.modules-center {
  padding: 0 20px;
}

.modules-left *,
.modules-center *,
.modules-right * {
  margin: 0px;
  padding: 0px;
}

/* Drawers */
.right-drawer-child * {
  margin-right: 15px;
}

.left-drawer-child * {
  margin-left: 15px;
}

/* Shared module styles */
#network,
#bluetooth,
#battery,
#hardware,
#clock,
#power,
#backlight,
#wireplumber,
#cava,
#workspaces {
  padding: 3px 15px;
  border: 1px solid #414559;
  border-bottom: 2px solid #414559;
  border-top: 2px solid #414559;
}

#network,
#battery,
#clock,
#power,
#cava {
  background-color: transparent;
}

#bluetooth,
#hardware,
#workspaces,
#wireplumber {
  background-color: #303446;
}

#network,
#bluetooth,
#battery,
#hardware,
#wireplumber,
#backlight {
  border-right: none;
}

#cava,
#workspaces {
  border-left: none;
}

/* Module colors */
#window {
  padding: 5px 15px;
  background-color: transparent;
  border: none;
  color: #a5adce;
}

#network {
  color: #81c8be;
}

#bluetooth {
  color: #a6d189;
}

#battery {
  color: #ef9f76;
}

#hardware {
  color: #e78284;
}

#clock {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  color: #ca9ee6;
}

#power {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  color: #a6d189;
}

#backlight {
  color: #ca9ee6;
}

#wireplumber {
  color: #8caaee;
}

#cava {
  color: #8caaee;
}

#workspaces {
  color: #ca9ee6;
}

#workspaces button {
  border: none;
  padding: 0 5px;
  color: #737994;
}
#workspaces button.active {
  color: #e78284;
  background-color: #414559;
}

#workspaces button:hover {
  color: #c6d0f5;
}

/* Module states */
#battery.warning {
  color: orange;
}

#battery.critical {
  color: red;
}
